<html>
  <head>
    <title>Inteligentna kamera</title>
	
    <style>
	html {
   	     overflow: -moz-scrollbars-vertical; /* Force vertical scrollbar in FF */
	}

	body{
	     background-color: #282828;
	     text-align: center;
	}

	h1 {
	     color: white;
	     text-align: center;
	}

	.content {
   	     text-align: left; /* reset text-align for IE */
  	     margin: 0 auto; /* Center in other browsers */
     	     width: 640px;
	}


    </style>

  </head>
  <body>
    <div class="content">
    	<h1>Inteligentna kamera</h1>
	<img src="{{ url_for('video_feed') }}">
    </div>

  </body>
</html>
